.blocos {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 200px;
    gap: 15px;
}
.bloco {
    width: 300px;
    place-items: center;
    gap: 15px;
    /* border: 1px solid #333; */
    box-shadow: 1px 1px 4px #7e7e7e;
    padding: 2px 2px;
    cursor: pointer;
    text-align: center;
}
.float {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 15px;
}
/* 
#li {
    text-decoration: none;
} */
